doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RPYyddpHWbgZIXZfmNU_eaeg9Cc9xm4')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(type='text/javascript' src='/javascripts/scripts.js')
